  .customWidth {
    width: 100%;
    min-width: 300px;
    max-width: 800px;
  }


  @media (max-width: 767px) {
    .el-message-box {
      max-width: 300px;
    }
  }

  .el-dialog--center .el-dialog__body{
    padding:0px;
  }

  .login-container .el-form-item{

  }
